<h3 (click)="toggleSection('about_me')">Info About Me</h3>
<section class="info-section" [ngClass]="{ 'hidden': dict['about_me'] }">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat minus est nobis adipisci, ex vitae, quae beatae quia eveniet, modi cupiditate culpa incidunt voluptates fuga perspiciatis neque praesentium corporis!</p>
</section>

<h3 (click)="toggleSection('hobbies')">My hobbies and interests</h3>
<section class="info-section" [ngClass]="{ 'hidden': dict['hobbies'] }">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eaque perspiciatis cumque pariatur adipisci quae, cum eveniet? Repellendus modi fugiat nobis harum, totam porro earum, reiciendis delectus quas esse quis.</p>
</section>

<h3 (click)="toggleSection('creator')">Content creator that I like</h3>
<section class="info-section" [ngClass]="{ 'hidden': dict['creator'] }">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam enim omnis laudantium voluptates alias iure eius repudiandae aut facilis? Perspiciatis deserunt, culpa provident blanditiis exercitationem quas consectetur eos tempora velit!</p>
    <a href="https://www.youtube.com/@ThePrimeagen">LINK HERE</a>
</section>

<h3 (click)="toggleSection('channel')">Info About My Channel</h3>
<section class="info-section" [ngClass]="{ 'hidden': dict['channel'] }">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro itaque, vel excepturi incidunt mollitia enim, illo saepe iure amet molestias debitis vero expedita consectetur earum cumque libero autem. Incidunt, ad?</p>
</section>

<h3 (click)="toggleSection('offering')">The Things That I Offer</h3>
<section class="info-section" [ngClass]="{ 'hidden': dict['offering'] }">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit perferendis ratione iste dolores quae cum iure? Dolorum autem voluptates ducimus, porro laborum, minima saepe ipsam, molestiae illum asperiores facere?</p>
</section>